/* Common Css */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Barlow", sans-serif;
}

/* Common Component */
.primary-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  background: #fca311;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 700;
  transition: all 0.3s;
  border: 1px solid transparent;
}

.primary-btn:hover {
  background: #f19604;
  border: 1px solid #694100;
}

.section-padding-one {
  padding: 80px 0;
}

.section-heading {
  margin-bottom: 70px;
  text-align: center;
}

.section-heading h2 {
  font-size: 64px;
  line-height: 75px;
  text-transform: uppercase;
  font-weight: 700;
}

.section-heading h2 span {
  color: #fca311;
}

.section-heading p {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  max-width: 550px;
  text-transform: capitalize;
  margin: 0 auto;
}
/* Header Css*/

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  display: inline-block;
}

.logo img {
  width: 40%;
}

.header-menu {
  display: flex;
  align-items: center;
  gap: 20px;
}

.main-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
}

.main-menu ul li {
  /* display: inline-block; */
  padding: 20px 0;
  /* margin: 0 20px; */
}

.logo {
  width: 30%;
}

.main-menu ul li a {
  display: inline-block;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: #fff;
  text-transform: uppercase;
  text-transform: uppercase;
  padding: 12px 15px;
  border-radius: 5px;
  transition: all 0.3s;
}

.main-menu ul li.active-menu {
  border-top: 2px solid #fca311;
}

.main-menu ul li.active-menu a {
  background: #fca311;
  color: #000;
}

.main-menu ul li a:hover {
  background: #fca311;
  color: #000;
}

.header-search i {
  color: #fff;
}

header {
  /* padding: 20px 0; */
}

.section-hero {
  padding: 200px 0;
  background-size: cover;
  background-position: center;
  position: relative;
}

.section-hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000030;
  z-index: 1;
}

.section-hero h1 {
  font-size: 56px;
  line-height: 70px;
  text-align: center;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  z-index: 2;
  position: relative;
}

/* Footer CSS */

footer {
  background: #fca311;
}

.footer-info img {
  width: 60%;
  margin-bottom: 30px;
}

.footer-info p {
  max-width: 260px;
  text-align: justify;
}

.footer-menu h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px;
}

.footer-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-menu ul li a {
  display: inline-block;
  color: #1f2324;
  text-decoration: none;
}

.footer-menu ul li {
  margin-bottom: 15px;
  font-weight: 700;
}

.footer-address-item {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  margin-bottom: 30px;
}

.footer-address-item i {
  font-size: 18px;
  padding-top: 5px;
}

.footer-address-item p {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 0;
}

.footer-copywright {
  text-align: center;
  padding-top: 50px;
  border-top: 1px solid;
}

.footer-copywright p {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0;
}

.footer-main-content {
  margin-bottom: 50px;
}

/* ==================
    Home Page CSS
==================== */

/* Hero Css */

.hero {
  background: url(../assests/images/home-hero-bg.png);
  padding-top: 250px;
  padding-bottom: 250px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00000030;
  z-index: 1;
}

.hero-content {
  z-index: 3;
  position: relative;
}

.hero-content h3 {
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
  color: #fca311;
  margin-bottom: 20px;
}

.hero-content h2 {
  font-size: 64px;
  line-height: 60px;
  font-weight: 700;
  color: #fff;
}

.hero-content h2 span {
  color: #fca311;
  display: block;
}

.hero-content p {
  font-size: 18px;
  line-height: 25px;
  color: #fff;
  max-width: 610px;
  margin-bottom: 30px;
}

/* Secondary Hero Css */
.secondary-hero {
  overflow: hidden;
}
.secondary-hero-wrapper {
  display: flex;
  height: 100%;
  gap: 8px;
}

.secondary-hero-left {
  background: #fca311;
  flex-basis: 65%;
  position: relative;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.secondary-hero-right {
  flex-basis: 35%;
  background: #1f2324;
  position: relative;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.secondary-hero-left::before {
  content: "";
  position: absolute;
  top: 0;
  left: -5000000px;
  height: 100%;
  background: #fca311;
  right: 100%;
}

.secondary-hero-right::after {
  content: "";
  position: absolute;
  top: 0;
  right: -5000000px;
  height: 100%;
  background: #1f2324;
  left: 100%;
}

.secondary-hero-left h3 {
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
}

.secondary-hero-left h4 {
  font-size: 24px;
  line-height: 40px;
  font-weight: 700;
  max-width: 693px;
}

.client-review {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  margin-bottom: 30px;
}

.client-review h5 {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #fff;
  text-align: right;
}

.client-review h5 span {
  color: #fca311;
}

/* Why Us Css */
.why-us-box {
  text-align: center;
  margin-bottom: 80px;
  padding: 10px 45px;
  transition: all 0.3s;
  border: 1px solid transparent;
}

.why-us-box:hover {
  border: 1px solid #fca311;
  border-radius: 5px;
}

.why-us-box-icon {
  margin-bottom: 20px;
}

.why-us-box h4 {
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
  margin-bottom: 15px;
}

.why-us-box p {
  font-size: 18px;
  line-height: 25px;
}

/* Our Scope CSS */

.our-scope-left-content {
  background: #fca311;
  padding: 60px 35px 60px 0px;
  position: relative;
}

.our-scope-left-content h3 {
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.our-scope-left-content span {
  font-size: 50px;
  line-height: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  display: inline-block;
}

.our-scope-left-content h4 {
  font-size: 36px;
  line-height: 60px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: #fff;
  max-width: 200px;
}

.our-scope-left-content p {
  font-size: 18px;
  line-height: 25px;
}

.our-scope-left-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: -5000000px;
  height: 100%;
  background: #fca311;
  right: 100%;
}

.our-scope-list-box {
  text-align: center;
  box-shadow: 0 0 2px 2px #fca3113d;
  border-radius: 5px;
  padding-top: 20px;
  height: 100%;
  cursor: pointer;
  overflow: hidden;
}

.our-scope-list-box img {
  display: block;
  width: 100%;
  border-radius: 0px 0px 5px 5px;
  transition: all 0.3s;
}

.our-scope-list-box:hover img {
  transform: scale(1.2);
}

.our-scope-list-box h4 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 30px;
  padding: 0 20px;
}

.our-scope-list-box p {
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 40px;
  padding: 0 20px;
}

.our-scope-btn {
  text-align: center;
  margin-top: 100px;
}

/* Featured Product Css */

.featured-product-content-box img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.featured-product-content-box {
  position: relative;
  margin-bottom: 24px;
}

.featured-product-content-box-info {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  padding: 20px;
  z-index: 2;
}

.featured-product-content-box-info h5 {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 14px;
}

.featured-product-content-box-info h4 {
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 15px;
  font-weight: 700;
}

.featured-product-content-box-info::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00000030;
  z-index: -1;
}

.featured-product-button {
  text-align: center;
  margin-top: 50px;
}

.featured-product-button a {
  display: inline-block;
  color: #000;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.featured-product-button a span,
.featured-product-button a i {
  color: #fca311;
}

/* Stats Css */

.stats {
  background: url(../assests/images/home-cta-bg.png);
  padding: 80px 0;
  background-size: cover;
  background-attachment: fixed;
}

.stats-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stats-list-item img {
  margin-bottom: 20px;
}

.stats-list-item h3 {
  color: #fca311;
  font-weight: 700;
  font-size: 48px;
}

.stats-list-item p {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.stats-list-item {
  text-align: center;
}

/* Home Contact Css */
.home-contact {
  background: url(../assests/images/home-contact-bg.png);
  background-size: cover;
}

.home-contact-heading .star-icon {
  margin-bottom: 30px;
  display: flex;
  gap: 10px;
}

.home-contact-heading .star-icon i {
  font-size: 26px;
  color: #fca311;
}

.home-contact-heading h2 {
  font-size: 48px;
  line-height: 72px;
  color: #fca311;
  font-weight: 700;
}

.home-contact-form {
  margin-top: 50px;
}

.home-contact-form-item {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 30px;
}

.home-contact-form-item label {
  font-size: 20px;
  color: #fff;
}

.home-contact-form-item input {
  padding: 10px 30px 10px 10px;
  border: 0px;
  border-radius: 5px;
  width: 100%;
}

.home-contact-form-item textarea {
  padding: 12px 10px;
  border: 0px;
  border-radius: 5px;
}

.home-contact-form-item input:focus-visible,
.home-contact-form-item textarea:focus-visible {
  outline: 0;
}

.home-contact-form-item input::placeholder,
.home-contact-form-item textarea::placeholder {
  color: #1f2324;
}

.home-contact-form-item-input {
  position: relative;
}

.home-contact-form-item-input span {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #3c3c3c;
}

/* Follow Us CSS */

.follow-us {
  background: #3c3c3c;
  padding: 50px 0;
}

.follow-us-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.follow-us-wrapper h3 {
  font-size: 36px;
  line-height: 40px;
  color: #fff;
  font-weight: 700;
}

.follow-us-wrapper h3 span {
  color: #fca311;
}

.follow-us-social-items {
  display: flex;
  gap: 80px;
}

.follow-us-social-items a {
  color: #fca311;
  font-size: 40px;
  border-left: 1px solid #fca311;
  padding-left: 80px;
}

/* ==================
    About Us Page CSS
==================== */

.about-us-hero {
  background-image: url(../assests/images/about-us-hero-bg.png);
}

.about-us-des {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.about-us-image {
  /* position: relative; */
}

.about-us-image img {
  /* position: absolute; */
}

.about-us-des p {
  font-size: 18px;
  line-height: 30px;
  text-align: justify;
  padding-right: 40px;
}

.mission-vission-content {
  border: 1px solid #000;
  padding: 48px 30px;
  text-align: center;
}

.mission-vission-content img {
  margin-bottom: 30px;
}

.mission-vission-content h3 {
  color: #fca311;
  font-weight: 700;
  margin-bottom: 30px;
}

.mission-vission-content p {
  font-size: 18px;
}

.authority-dialoge-content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  text-align: center;
  max-width: 1100px;
  margin: 0 auto;
}

.authority-dialoge-content p {
  font-size: 30px;
  line-height: 56px;
}

/* ==================
    Contact Us Page CSS
==================== */

.contact-hero {
  background-image: url(../assests/images/contact-us-hero-bg.png);
}

.contact-us-info {
  position: relative;
  background: #fca311;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-us-info::before {
  content: "";
  position: absolute;
  top: 0;
  left: -5000000px;
  height: 100%;
  background: #fca311;
  right: 100%;
}

.office-address-item p {
  margin-bottom: 0;
  line-height: 20px;
}

.contact-us-info h4 {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.office-address h5 {
  text-transform: uppercase;
  margin-bottom: 20px;
}

.office-address {
  color: #fff;
}

.office-address-item {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 20px;
  font-size: 16px;
}

.office-address-item i {
  margin-top: 2px;
}

.contact-us-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 50px 0px 50px 50px;
}

.contact-us-form-info form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contact-us-form-info input,
.contact-us-form-info textarea {
  padding: 15px;
  border: 1px solid #c5c5c5;
}

.contact-us-form-info-button {
  text-align: center;
}

.contact-us-form-info input::placeholder,
.contact-us-form-info textarea::placeholder {
  text-transform: uppercase;
  color: #c5c5c5;
}
